<!DOCTYPE html>
<html>
  <head>
    <title>TheDaoIndex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= button_to 'Home', '/', method: :get %>
  <%= button_to 'Hit Me With a Hot Take!!', '/hottakes', method: :get %>
  <center><h1>The Dao Index</h2></center>
    <%= yield %>
  </body>
</html>
