<!DOCTYPE html>
<html>
  <head>
    <title>TheDaoIndex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header class="p-3 bg-danger text-white">
    <div class="btn-group btn-group-sm" role="group">
      <%= button_to 'Home', '/', method: :get, class: "btn btn-outline-light btn-sm" %>
      <%= button_to 'Hit Me With a Hot Take!!', '/hottakes/random/vote', method: :get, class: "btn btn-outline-light btn-sm" %>
      <%= button_to "Mike's Hottest Takes", '/hottakes', method: :get, class: "btn btn-outline-light btn-sm" %>
      <%= button_to 'Record a New Hot Take', '/hottakes/new', method: :get, class: "btn btn-outline-light btn-sm" %>
    </div>
    <br><br>
    <center><h1>The Dao Index</h1></center>
    <center><p><i>An app to track Dao-isms</i></p></center>
  </header>
    <%= yield %>
  </body>
</html>
