<!DOCTYPE html>
<html>
  <head>
    <title>TheDaoIndex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header class="p-3 bg-danger text-white">
    <div class="btn-group btn-group-sm" role="group">
      <%= button_to 'Home', '/', method: :get, class: "btn btn-outline-warning" %>
      <%= button_to 'Hit Me With a Hot Take!!', '/hottakes/random/vote', method: :get, class: "btn btn-outline-light" %>
    </div>
    <center><h1>The Dao Index</h2></center>
  </header>
    <%= yield %>
  </body>
</html>
